@font-face {
    font-family: "Mermaid";
    src: url(/static/fonts/Mermaid1001.ttf) format("truetype");

    font-family: "Roboto-Regular";
    src: url(/static/fonts/Roboto-Regular.ttf) format("truetype");
}

.site-title {
    font-family: "Mermaid";
    font-size: 35pt;
    margin: 0;
    color: #ee6a40;
}

header {
    height: 305px;
    width: 100%;
    text-align: center;
    position: absolute;
}

main {
    padding-top: 305px;
    margin-bottom: -50px;
    min-height: 100%;
    width: 100%;
    background: #f4eddc;
}

footer {
    height: 50px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.push {
    height: 50px;
}

html, body {
    height: 100%;
    width: 100%;
    background: #ffecbf;
    margin: 0;
    color: #b8321c;
    font-family: Roboto-Regular;
}

body {
    overflow-y: scroll;
}

.nav-bar {
    padding-top: 5px;
    justify-content: center;
    width: 100%;
}

.nav-link {
    user-select: none;
    color: #b8321c;
    margin: 0 20px 0 20px;
    font-size: 15pt;
}

.nav-link:hover {
    font-weight: 700;
    cursor: pointer;
}

.content {
    padding: 0px 20px 20px 20px;
    background: #f4eddc;
    margin-left: 12%;
    margin-right: 12%;
    border-top: solid 1px;
    border-color: #f5b9a6;
}

.image-container {
    position: relative;
    width: 100%
    overflow: hidden;
}

.image-container .content-overlay {
  background: rgba(245, 126, 66, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.image-container:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.image-container:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.centered {
    text-align: center;
}

.preview-image {
    height: 230px;
    width: 230px;
    object-fit: cover;
}

.preview-image:hover {
    opacity: 0.3;
    border: solid 1px black;
}

.image-selected {
    border: solid 2px blue;
    opacity: 1;
}

#view-image {
    width: 100%;
    height: 450px;
    object-fit: contain;
}

#image-description {
    margin: 0 40px 0 40px;
    padding: 20px;
}

.layout-div {
    margin: 2% 2% 2% 2%;
    display: inline-block;
}

.social-media {
    height: 40px;
    width: 40px;
}

#expanded_container {
    margin-top: 10px;
}

