{% extends 'layout.html' %}
{% block content %}
<div class="row">
<div class="col-md-1" style="margin: auto">
    <button id="btnPrev" onclick="prevImage()">Prev</button>
</div>
<div class="col-md-10">
    <div class="centered">
        <h3 class="image-title">{{ img.title }}</h3>
        <img class="view-image" src="{{ url_for('static', filename='pictures/' + img.image_file) }}"/>
    </div>
    <p class="image-description">{{ img.description }}</p>
</div>
<div class="col-md-1" style="margin: auto">
    <button id="btnNext" onclick="nextImage()">Next</button>
</div>
</div>
    <div class="gallery">
    {% for image in images %}
        <div class="image-container">
            <img class="preview-image" src="{{ url_for('static', filename='pictures/' + image.preview_image) }}"
            onclick="showImage({{ image }})">
            <h6 class="centered mb-0 mt-2">{{ image.title }}</h6>
        </div>
    {% endfor %}
    </div>


<script>
    var images = document.getElementsByClassName("preview-image");
    var current = document.getElementsByClassName("view-image")[0];
    if (current.src == images[0].src) {
        var btnPrev = document.getElementById("btnPrev");
        btnPrev.disabled = true;
    }
    if (current.src == images[images.length-1].src) {
        var btnNext = document.getElementById("btnNext");
        btnNext.disabled = true;
    }

    for (i = 0; i < images.length; i++) {
        if (current.src == images[i].src) {
            images[i].style.opacity = "1";
            images[i].style.border = "solid 2px blue";
        }
        else {
            images[i].style.opacity = "0.8";
            images[i].style.border = "none";
        }
    }

    function showImage(image) {
        var images = document.getElementsByClassName("preview-image");
        for (i = 0; i < images.length; i++) {
            images[i].style.opacity = "0.8";
            images[i].style.border = "none";
        }

        var source = event.srcElement;
        source.style.opacity = "1";
        source.style.border = "solid 2px blue";

        var btnNext = document.getElementById("btnNext");
        if (source.src == images[images.length-1].src) {
            btnNext.disabled = true;
        }
        else {
            btnNext.disabled = false;
        }

        var btnPrev = document.getElementById("btnPrev");
        if (source.src == images[0].src) {
            btnPrev.disabled = true;
        }
        else {
            btnPrev.disabled = false;
        }

        var largeImage = document.getElementsByClassName("view-image")[0];
        var imageTitle = document.getElementsByClassName("image-title")[0];
        var imageDescription = document.getElementsByClassName("image-description")[0];
        largeImage.src = '/static/pictures/' + image.image_file;
        imageTitle.innerHTML = image.title;
        imageDescription.innerHTML = image.description;
    }

    function nextImage() {
        var images = document.getElementsByClassName("preview-image");
        var current_image = document.getElementsByClassName("view-image")[0];
        for (i = 0; i < images.length; i++) {
            if (images[i].src == current_image.src) {
                current_image.src = images[i+1].src;
                images[i].style.opacity = "0.8";
                images[i].style.border = "none";
                images[i+1].style.opacity = "1";
                images[i+1].style.border = "solid 2px blue";
                if (i+1 == images.length - 1) {
                    event.srcElement.disabled = true;
                }
                if (i == 0) {
                    var btnPrev = document.getElementById("btnPrev");
                    btnPrev.disabled = false;
                }
                break;
            }
        }
    }

    function prevImage() {
        var images = document.getElementsByClassName("preview-image");
        var current_image = document.getElementsByClassName("view-image")[0];
        for (i = 0; i < images.length; i++) {
            if (images[i].src == current_image.src) {
                current_image.src = images[i-1].src;
                images[i].style.opacity = "0.8";
                images[i].style.border = "none";
                images[i-1].style.opacity = "1";
                images[i-1].style.border = "solid 2px blue";
                if (i - 1 == 0) {
                    event.srcElement.disabled = true;
                }
                if (i == images.length - 1) {
                    var btnNext = document.getElementById("btnNext");
                    btnNext.disabled = false;
                }
                break;
            }
        }
    }
</script>
{% endblock content %}